[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
click = "*"
tabulate = "*"
pytimeparse = "*"
pyyaml = "*"
pytest = "*"

[dev-packages]
mypy = "*"
types-tabulate = "*"
pylint = "*"
setuptools = "*"
types-requests = "*"
autopep8 = "*"
build = "*"
pytest = "*"

[requires]
python_version = "3.10"
