[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "==1.*"
click = "*"
tabulate = "*"
pytimeparse = "*"
pyyaml = "*"
types-tabulate = "*"

[dev-packages]
pytest = "*"
mypy = "*"
pylint = "*"
setuptools = "*"
types-requests = "*"
autopep8 = "*"
build = "*"
types-pyyaml = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
